/* #canvas1{
   border: 2px solid white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 500px;
   height: 706px;
} */

#bandeau img{
   height: 300px;
   width: 300px;
   border-radius: 50%;
   box-shadow: 1px 1px 12px #555;
   
}

*{
   margin:0;
   padding:0;
}

body, html{
   height: 100%; /*Pour pleine hauteur*/
}
.logo{
   margin: auto;
   
}
h1{
   text-align: center;
   text-shadow:2px 4px 2px gray;
   size: 20px;
   
}


.bg-light{
   background-color:rgba(131, 71, 102, 0.384)!important;
   color: rgba(0, 0, 0, 0.767)!important;
   
  
}
.navbar-brand{
   color: rgba(0, 0, 0, 0.767)!important;
}
.nav-link{
   color: rgba(0, 0, 0, 0.767)!important;
}
h2{
   text-align: center;
}

/* FOOTER */
.footer {
   background-color:rgba(131, 71, 102, 0.384);
   text-align: center;
   padding: 2.5em 0;
   font-size: var(--fs-h3);
   
}

.footer a { 
   color: inherit;
   text-decoration: none;
}

.footer__link {
   font-weight: var(--fw-bold);
  
}

.footer__link:hover,
.social-list__link:hover {
   opacity: .7;
}

.footer__link:hover {
   text-decoration: underline;
}

.social-list {
   list-style: none;
   display: flex;
   justify-content: center;
   margin: 2em 0 0;
   padding: 0;
}

.social-list__item {
   margin: 0 .5em;
}

.social-list__link {
   padding: .5em;
}
/* Fin Footer */




/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
   
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    
    
     
}
